:root {
    --background: #ffffff;
    --foreground: #14170f;
    --card: #F6F7F9;
    --card-foreground: #14170f;
    --primary: #51b003;
    --primary-foreground: #ffffff;
    --secondary: #14170f;
    --secondary-foreground: #ffffff;
    --border: #e7e9ea;
}

.dark {
    --background: #141211;
    --foreground: #F6F7F9;
    --card: #131313;
    --card-foreground: #F6F7F9;
    --primary: #51b003;
    --primary-foreground: #ffffff;
    --secondary: #F6F7F9;
    --secondary-foreground: #14170f;
    --border: #262624;
}
