:root {
    --background: #ffffff;
    --foreground: #F6F7F9;
    --card: #F6F7F9;
    --card-foreground: #F6F7F9;
    --primary: #51b003;
    --primary-foreground: #51b003;
    --secondary: #51b003;
    --secondary-foreground: #51b003;
    --border: #F6F7F9;
}

.dark {
    --background: #141211;
    --foreground: #131313;
    --card: #131313;
    --card-foreground: #131313;
    --primary: #51b003;
    --primary-foreground: #51b003;
    --secondary: #51b003;
    --secondary-foreground: #51b003;
    --border: #1C1C1C;
}
